# maven ignore
target/
*.jar
*.war
*.zip
*.tar

# eclipse ignore
.settings/
.svn
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
*.doc
*.log
*.cache
*.diff
*.patch
*.tmp